<link rel="stylesheet" href="/css/home.css" />
<!-- Include the home.css stylesheet -->

<div class="container">
  <div class="home-div">
    <h1>Node.js Authentication System</h1>
    <!-- Display the heading for the home page -->
  </div>
</div>
